/**  National University of Computing and Emerging Sciences
	Style Sheet by Muhammad Khan 22i-1040 **/

#timm, h2 { 	color: rgb(0,0,0);
	background-color:grey ;
	text-align: center;
	font-size: 200%;
	margin-bottom:2rem
	
   } 
   
body {background-color: beige;
	text-align: center;
	font-size:100%



	}
